<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <title>Login Page</title>
</head>

<body>
    <div class="main">
        <div><%- include('../partials/nav.ejs') %></div>
        <h1>Login</h1>
        <form action="/auth/sign-in" method="POST">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" />
            <br>
            <label for="password" name="password" id="password">Password</label>
            <input type="password" name="password" id="password" />
            <br>
            <button type="submit">Sign-in</button>

        </form>
    </div>
</body>

</html>
