<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <link rel="stylesheet" href="/stylesheets/post.css" />
  <title>Document</title>
</head>

<body>
  <div class="post-container">
    <%- include('../partials/nav') %>
      <h1>Post</h1>

      <div class="form-div">
        <form action="/mushrooms" method="POST">
          <label for="commonName">Common Name:</label>
          <input type="text" name="commonName" id="commonName" required>
          <label for="scientificName">Latin Name:</label>
          <input type="text" name="scientificName" id="scientificName" required>
          <label for="isEdible">Is it edible?:</label>
          <input type="checkbox" name="isEdible" id="isEdible">
          <label for="image">Image URL:</label>
          <input type="url" name="image" id="image">
          <% if (typeof errorMessage !== 'undefined') { %>
            <p style="color: rgb(145, 0, 0)"><%= errorMessage %></p>
          <% } %>
          <button class="submit-button" type="submit">Submit</button>
      </div>
      </form>
      
</body>

</html>