<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css" />
  <title>Add Mushroom</title>
</head>

<body>
  <div class="main-container">
    <%- include('../partials/nav') %>
      <h1>Add Mushroom</h1>

      <div class="form-div">
        <br>
        <form action="/mushrooms" method="POST">
          <label for="commonName">Common Name:</label>
          <input type="text" name="commonName" id="commonName" required>
          <label for="scientificName">Latin Name:</label>
          <input type="text" name="scientificName" id="scientificName" required>
          <label for="isEdible">Is it edible?:</label>
          <label for="isEdibleTrue">Yes

            <input type="radio" name="isEdible" id="isEdibleTrue" value="true">
          </label>

          <label for="isEdibleFalse">No

            <input type="radio" name="isEdible" id="isEdibleFalse" value="false">
          </label>
          <label for="image">Image URL:</label>
          <input type="url" name="image" id="image">
          <% if (typeof errorMessage !=='undefined' ) { %>
            <p style="color: rgb(145, 0, 0)">
              <%= errorMessage %>
            </p>
            <% } %>
              <br>
              <button class="submit-button" type="submit">Submit</button>
      </div>
      </form>

</body>

</html>