body {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    height: 100vh;
}

.post-container {
    max-width: 800px;
    display: flex;
    align-content: center;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: 0.5em 0;
    background-color: var(--background);
    padding: 1em;
    box-shadow: 5px 7.5px rgba(13, 13, 13, 0.5);
    border: var(--border);
    border-radius: 10px;
    flex-grow: 1;
    margin: auto;
}