
:root {
    --background: #73a17e;
    --border: 3px solid #4c5952;
}

body {
    height: 100%;
    background-color: var(--background);
    font-family:Georgia, 'Times New Roman', Times, serif;
    align-items: flex-start;
    justify-content: center;

}

.main-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-self: center;
    margin: 0.5em 0;
    background-color: var(--background);
    padding: 1em;
    box-shadow: 5px 7.5px rgba(13, 13, 13, 0.5);
    border: var(--border);
    border-radius: 10px;
    flex-grow: 1;
}

h1 {
    flex-direction: row;
    color: #180d13;
    align-self: center;
    width: inherit;
}

.img-grid {
    display: flex;
    flex-flow: row wrap;
    flex-basis: 200px;
    justify-content: space-around;
    flex-grow: 1;
    flex-shrink: 1;
    gap: 20px;
}

.img-div {
    outline: var(--border);
    border-radius: 10px;
    margin: 5px;
    flex-direction: row;
    flex-basis: 300px;
    flex-shrink: 1;
    z-index: 2;
    flex-grow: 1;
    max-width: 500px;
}

.img-home {
    max-width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    flex-basis: 300px;
    flex-shrink: 1;
    flex-grow: 1;
    flex: 1;
}

.show {
    max-width: 800px;
    border: var(--border);
    border-radius: 10px;
    margin: 5px;
    flex-direction: row;
    flex-shrink: 1;
    z-index: 2;
    flex-grow: 1;
}

.show-header {
    display: flex;
}

.img-show {
    max-width: 100%;
    border-radius: 7px;
    flex-basis: 600px;
    flex-shrink: 1;
    flex-grow: 1;
    flex: 1;
    height: auto;
    display: block;
}

.description-home {
    display: flex;
    height: 2rem;
}

.description-home a {
    text-decoration: none;
}

#toxic-symbol {
    display: flex;
    color: red;
    justify-self: flex-end;
}

nav#nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.5em 0;
    height: 2em;
    width: inherit;
    justify-content: space-around;
}

a#nav-links {
    color: rgb(24, 38, 18);
    letter-spacing: 1.2px;
}

a#nav-links:hover {
    color:rgb(138, 39, 183);
    font-weight: 500;
}

a {
    color: rgb(24, 38, 18);
}

a:hover {
    color:rgb(138, 39, 183);
    font-weight: 500;
}

#footer {
    display: flex;
    flex-direction: row;
    margin: 1.5em 0 0;
    height: 2em;
    width: inherit;
}

form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 3px;
    width: 30vw;
    height: 60vh;
    justify-content: flex-start;
}

#delete {
    flex-direction: row;
    height: 2em;
    width: auto;
}

#delete-button {
    border-radius: 10px;
    background-color: var(--background);
}

#delete-button:hover {
    background-color: #180d1398;
    color: rgb(146, 146, 146);
}

input:invalid {
    border: 1px solid rgb(255, 0, 0);
}

.h1-auth, .h2-auth {
    display: flex;
    justify-content: center;
}


